@import url('https://fonts.googleapis.com/css2?family=Trispace&display=swap');
body{
    background-color: #f6f5f1;
    font-family: 'Trispace', sans-serif;
}
.construction-fonts{
    color: #16a596
}